<nav class="navbar navbar-dark bg-primary navbar-fixed-left">
  <button class="navbar-toggler" type="button">
    &#9776;
    {{!-- <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> --}}
  </button>
</nav>
