<nav class="navbar navbar-fixed-left">
  {{#link-to 'index'}}
    <div class="nav-icon">{{fa-icon "home" size="lg"}}</div>
  {{/link-to}}
  {{#link-to 'projects'}}
    <div class="nav-icon">{{fa-icon "list" size="lg"}}</div>
  {{/link-to}}
</nav>
