<nav class="navbar navbar-fixed-left">
  {{#link-to 'projects'}}
  <button class="navbar-toggler" type="button">
    {{fa-icon "list" size=1}}
    {{!-- <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> --}}
  </button>
  {{/link-to}}
</nav>
