<nav class="navbar bg-primary navbar-fixed-left">
  {{#link-to 'projects'}}
  <button class="navbar-toggler" type="button">
    &#9776;
    {{!-- <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> --}}
  </button>
  {{/link-to}}
</nav>
