<div class="row">
  <div class="col-md-12">
    <span class="nav-pane-listing-title lead">
      {{fa-icon "edit"}} <strong>{{#if item.name}}{{item.name}}{{else}}Untitled{{/if}}</strong>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
    <small>Created: 12/24/2015</small>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
    <small>Modified: 12/24/2015</small>
  </div>
</div>
