<form {{action 'submit' model on='submit'}}>
  <fieldset class="form-group">
    <label for="name">Project Name</label>
    {{input class="form-control" type="text" value=model.name placeholder="Project Name"}}
  </fieldset>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button class="btn btn-danger" {{ action "cancel" }}>Cancel</button>
</form>
