// - - - - - - - - - - - - - - - - - - -
// - - layout
// global layout classes - height, width, padding, margin, etc.

.l-main {
  margin-left: $navbar-width;
  padding-right: 10px;
}
.l-page-content {
  padding: 15px;
  float: left;
}
.l-full-height {
  min-height: 100vh;
}

.l-80-height {
  min-height: 80vh;
}
