// - - - - - - - - - - - - - - - - - - -
// - - settings
// global maps and variables

// - - colors
// Primary Colors
// use map-get($map, $key); to retrieve value
// map-get($brand-colors, aqua); returns #2AA198
$brand-colors: (
  aqua: #2AA198,
  light_teal: #0C3543,
  dark_teal: #042B37,
  dark_blue: #333541,
  default_text_color: #042B37, //#fafafa,
  navbar_icon_color: #fafafa
);

$navbar-width: 65px;
$nav-pane-width: 270px;
