<div class="l-page-content">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to Palantir!</h1>
      <p class="lead">You appear to have no projects, begin estimating by adding a project.</p>
      {{#link-to "projects"}}<button class="btn btn-primary btn-lg">Projects</button>{{/link-to}}
    </div>
  </div>

{{outlet}}
</div>
